<div class="profile">
    <app-sidebar></app-sidebar>
    <div class="profile-content">
      <h2 class="profile-title">My Profile</h2>
      <div class="profile-item">
        <div class="profile-label">First Name:</div>
        <div class="profile-value">{{ firstName }}</div>
      </div>
      <div class="profile-item">
        <div class="profile-label">Last Name:</div>
        <div class="profile-value">{{ lastName }}</div>
      </div>
      <div class="profile-item">
        <div class="profile-label">Username:</div>
        <div class="profile-value">{{ username }}</div>
      </div>
      <div class="profile-item">
        <div class="profile-label">E-mail address:</div>
        <div class="profile-value">{{ email }}</div>
      </div>
      <div class="profile-item">
        <div class="profile-label">Role:</div>
        <div class="profile-value">{{ role }}</div>
      </div>

    </div>
    <div class="profile-image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg"
      width="200px"
      height="200px"
      alt="Profile Image">
    </div>
  </div>
